*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #f4ac0c;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  /* font-family: "Merriweather", serif; */
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*THE NAVBAR SECTION STYLING*/

/* THIS THE TOP NAVBAR*/
.top-nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid gray; */
  position: fixed;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.top-nav .left {
  display: flex;
  justify-content: space-evenly;
}

.one,
.two,
.three {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.one,
.two {
  padding-right: 15px;
  /* border-right: 1px solid gray; */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.left span {
  margin-left: 8px;
}

.right button {
  padding: 16px 40px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-family: "Merriweather", serif;
}

/*THE NAVBAR */

.navbar {
  border-bottom: 1px solid gray;
  margin-top: 50px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__menu {
  padding-right: 3rem;
  list-style: none;
  display: flex;
  height: 60px;
  line-height: 40px;
  align-items: center;
  justify-content: end;
  transition: all 0.5s ease;
}

.navbar__menu-link {
  text-decoration: none;
  color: #000;
  /* font: 600 15px "Open Sans", sans-serif; */
  /* font-family: "Inter", sans-serif; */
  font-weight: 600;
  /* padding: 20px var(--navbar__menu-link-padding-x); */
  display: block;
  padding-left: 1.5rem;
}

nav a {
  text-decoration: none;
}

nav img {
  width: 80%;
  height: 70px;
}

.navbar__menu-link:hover {
  color: var(--primary);
}

.fa-brands {
  width: 50px;
  size: 50px;
}

.fa-facebook {
  color: #4267b2;
}

.fa-instagram {
  color: #fd1d1d;
}

.fa-youtube {
  color: #ff0000;
}

/* VIDEO HERO SECTION BEGINS HERE */

.hero-section {
  position: relative;
}

.hero-section video {
  height: 450px;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}

.hero-section .content {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section .content h1 {
  color: var(--primary);
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Merriweather", serif;
  font-size: 70px;
  line-height: 30px;
}

.hero-section .content h3 {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: -20px;
}

.fa-solid {
  color: #f4ac0c;
}

/* ABOUT US BEGINS HERE*/

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 2px solid black; */
  overflow: hidden;
}
.about-us img {
  height: 400px;
  width: 750px;
  object-fit: cover;
}
.half {
  height: fit-content;
}

.about-us p {
  text-align: justify;
}

.p-4 {
  padding: 40px;
}
.p-5 {
  padding: 50px;
}
.title2 {
  text-align: center;
  width: 100%;
  color: var(--primary);
  font-family: "Merriweather", serif;
}
.btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn:hover {
  box-shadow: 1px 2px 10px 1px var(--primary);
  transition-duration: 0.4s;
}
.text-center {
  width: 100%;
  text-align: center;
}

/* OUR SERVICES BEGIN HERE*/

.our-services {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  text-align: center;
  overflow: hidden;
}

.our-services h1 {
  font-size: 35px;
  line-height: 35px;
  font-family: "Merriweather", serif;
}

.our-services h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.our-services .s-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.our-services .s-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-services .s-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.our-services img {
  width: 350px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.our-services button {
  margin-top: 50px;
}

/* SOLUTIONS STARTS HERE  */

.solution {
  display: flex;
}

.solution .span-i {
  display: flex;
  flex-direction: row;
}

.solution .span-i h3 {
  margin-bottom: 2px;
  color: var(--primary);
}

.solution .left p {
  margin-top: 20px;
  text-align: justify;
}

.solution .left h1 {
  margin-bottom: 25px;
}

.solution h1 {
  color: var(--primary);
  font-family: "Merriweather", serif;
}

/* THIS IS THE PROJECTS SECTION */
.our-projects {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  text-align: center;
}

.our-projects h1 {
  font-size: 35px;
  line-height: 35px;
  font-family: "Merriweather", serif;
}

.our-projects h3 {
  font-size: 16px;
  line-height: 16px;
}

.our-projects .s-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.our-projects .s-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 250px;
  overflow: hidden;
}

.our-projects .s-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .our-projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

.project-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.our-projects .s-content:hover .project-image-hover {
  opacity: 1;
}

.project-image,
.project-image-hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.our-projects .s-three {
  margin-bottom: 50px;
}

/* THIS IS THE FOOTER SECTION */
.footer {
  background-color: #b3b3b3;
  text-align: center;
  overflow: hidden;
}

.f-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer .navbar__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  align-items: center;
  justify-content: center;
}

.footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .navbar__menu-link {
  text-decoration: none;
  color: #000;
  font: 400 15px "Open Sans", sans-serif;
  display: block;
  padding-top: 4px;
}

.footer img {
  width: 100%;
  height: 100px;
}

hr {
  width: 80%;
}

.p-3 {
  padding: 30px;
}
